<div class="row">
  <div class="col-md-3">

    <%= image_tag @restaurant.image_url %>
    
    <h2>
      <%= @restaurant.name %>
    </h2>
    
    <div class="star-rating" data-score= <%= @avg_rating %> ></div> 
    <p><%= "#{@reviews.length} reviews" %></p>
    
    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>
    
    <iframe
      width="230"
      height="230"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAxMFG0-WHzd1lV9F6Bt_6SyYz_42cp0SU
        &q=<%= @restaurant.address.parameterize %>&zoom=14">
    </iframe>
    
    <p>
      <strong>Phone:</strong>
      <%= @restaurant.phone %>
    </p>
    
    <p>
      <strong>Website:</strong>
      <%= link_to @restaurant.website, "http:\\" + @restaurant.website %>
    </p>
    <%= link_to 'Write Review',  new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
  </div>
  

  <div class="col-md-9">

    <% if @reviews.blank? %>
      <h3>No reviews yet. Be the first to <%= link_to 'write one!',  new_restaurant_review_path(@restaurant) %>
      </h3>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-3"></th>
            <th class="col-md-9"></th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td>
                <h4>
                  <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
                </h4>
                <p><%= review.created_at.strftime("%-B %-d, %-Y") %></p>
              </td>              
              <td>
                <div class="star-rating" data-score= <%= review.rating %> ></div>
                <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
                
                <% if user_signed_in? %>
                  <% if (review.user == current_user) || (current_user.admin?) %>
                    <%= link_to "Edit", edit_restaurant_review_path(@restaurant, review) %>
                    <%= link_to "Delete", restaurant_review_path(@restaurant, review), method: :delete %>
                  <% end %>
                <% end %>  
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %> <!-- else -->


  </div>
</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-link" %> |
<%= link_to 'Back', restaurants_path, class: "btn btn-link" %>

<script>
  $('.star-rating').raty({
    path: 'https://storage.googleapis.com/yelpknockoff/static_images/stars/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>