<!-- had to change this because review is nested in routes.rb -->
<!-- %= form_for(@review) do |f| %> -->

<%= form_for([@restaurant, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation" class= "alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h4>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

    </div>
  <% end %>



  <div id="star-rating"></div>
  
  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>


<script>
  $('#star-rating').raty({
    path: 'https://storage.googleapis.com/yelpknockoff/static_images/stars/',
    scoreName: 'review[rating]'
  });
</script>

